body{
    font-family: monospace;
    background-color: #f15;
    padding: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

button {
    background-color: #e74c3c; /* Cor de destaque */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button :hover{
    background-color: purple;
}

